# Dependencies
node_modules/

# Playwright
playwright-report/
test-results/
blob-report/
playwright/.local-browsers/
playwright/.auth/


# Environment variables
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Debug Tests
tests/debug_*.spec.js

# HTML Reports/Files
*.html
# image 
*.png
*.jpg
*.jpeg

# Playwright Test Agents
.github/agents/
.github/workflows/copilot-setup-steps.yml
.vscode/mcp.json
specs/
tests/seed.spec.ts
images/